@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 40px;
    width: 90%;
    text-align: center;
  }
  .navbar ul {
    flex-direction: column;
  }
  .banner {
    width: 90%;
    margin-top: 60px;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .banner-img {
    width: 90%;
  }

  /* main */
  /* feature */
  .features {
    width: 90%;
  }
  .feature-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-content {
    flex-direction: column;
  }

  /* feature you will love */
  .feature-you-will {
    width: 90%;
  }
  .feature-you-will-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .experience {
    margin-top: -80px;
    margin-left: 0px;
  }
  .feature-you-will-img .experience button {
    padding: 22px 20px;
  }
  .ex-span1 {
    font-size: 3rem;
  }

  /* some-facts */
  .some-facts {
    width: 90%;
  }
  .facts-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  /* ours-sponsors */
  .our-sponspors {
    width: 90%;
  }
  .sponspors-img {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  /* footer */
  /* footer */

  .footer {
    width: 90%;
  }
}

/* for tablet */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar {
    /* flex-direction: column; */
    /* gap: 40px; */
    width: 90%;
  }

  .banner {
    width: 90%;
    margin-top: 60px;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .banner-img {
    width: 90%;
  }

  /* main */
  /* feature */
  .features {
    width: 90%;
  }
  .feature-details h1 {
    font-size: 2rem;
  }
  .feature-details p {
    margin: 20px 0 25px 0;
  }

  /* feature you will love */
  .feature-you-will {
    width: 90%;
  }
  .feature-you-will-content {
    align-items: center;
    flex-direction: column;
  }
  .content-details,
  .content-card-details,
  .feature-you-will-img {
    max-width: 100%;
    width: 100%;
  }
  .experience {
    margin-top: -80px;
    margin-left: 0px;
  }
  .feature-you-will-img .experience button {
    padding: 22px 20px;
  }
  .ex-span1 {
    font-size: 3rem;
  }

  /* some-facts */
  .some-facts {
    width: 90%;
  }
  .facts-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* ours-sponsors */
  .our-sponspors {
    width: 90%;
  }
  .sponspors-img {
    /* width: 100%; */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .footer {
    width: 90%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .navbar {
    width: 90%;
  }

  .banner-img {
    width: 90%;
  }
  /* main */
  /* feature */
  .features {
    width: 90%;
  }

  /* feature you will love */
  .feature-you-will {
    width: 90%;
  }
  .feature-you-will-content {
    align-items: center;
    flex-direction: column;
  }
  .content-details,
  .content-card-details,
  .feature-you-will-img {
    max-width: 100%;
    width: 100%;
  }
  .experience {
    margin-top: -80px;
    margin-left: 0px;
  }
  .feature-you-will-img .experience button {
    padding: 22px 20px;
  }
  .ex-span1 {
    font-size: 3rem;
  }

  /* some-facts */
  .some-facts {
    width: 90%;
  }
  .facts-card {
    justify-content: center;
    gap: 40px;
  }
  .facts-card .card {
    width: 100%;
  }
  /* ours-sponsors */
  .our-sponspors {
    width: 90%;
  }
  /* .sponspors-img {

    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  } */

  .footer {
    width: 90%;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1599px) {
  .navbar {
    width: 80%;
  }

  .banner-img {
    width: 80%;
  }
  /* main */
  /* feature */
  .features {
    width: 80%;
  }

  .feature-you-will {
    width: 80%;
  }
  .content-details {
    width: 45%;
  }
  .feature-you-will-img {
    width: 45%;
    height: auto;
  }
  .experience {
    margin-top: -80px;
    margin-left: -80px;
  }
  .ex-span1 {
    font-size: 3rem;
  }
  .feature-you-will-img .experience button {
    padding: 22px 20px;
  }
  .feature-you-will-content {
    align-items: flex-start;
    gap: 10px;
  }
  /* some-facts */
  .some-facts {
    width: 80%;
  }
  .facts-card {
    /* justify-items: space-between; */
    gap: 50px;
  }
  .facts-card .card {
    width: 100%;
  }
  /* ours-sponsors */
  .our-sponspors {
    width: 80%;
  }
  .footer {
    width: 80%;
  }
}
